*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* }
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  display:flex; */
 
header {
   justify-content:space-between;
   display:flex;
   text-align: center;
   padding: 20px;
   padding-top: 0px;
   color: hsl(206, 17%, 28%);

 } 


body {
  background-color: light gainsboro;
}


#timer-countdown {
    text-align: right;
}

#answer-buttons{
    display:grid;
    font-size: 26px;
    width: 50%;
    padding: 15px;
}
#btn-1{
  padding:20px 75px;
  
}
#btn-2{
  padding:20px 100px;
}
#btn-3{
  padding:20px 100px;
}
#btn-4{
  padding:20px 100px;
}

.btn {
  padding: 15px 45px;
  text-align: center
}
.card {
  background-color: white;
  font-size: 18px;
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
}

.card-header {
  text-align: center;

}
#card {
  height: 400px;
  
}
#title {
    text-align: center;

}
#results {
  text-align: center;
  font-size: 20px;
  font-style: Georgia;
}
/* .hide {
    display: none;
} */
/* .btn-correct {}

.btn-wrong {} */
